---
const personalImageAlt = "Eliecer Gonzalez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Eliecer Gonzalez pero mis amigos me llaman Goneli. Empecé en la
      programación cuando tenía 19 años. Actualmente estoy <strong
        >participando en el desarrollo del sistema IPC</strong
      > para el Instituto Nacional de Estadistica y Censos de Argentina.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >la creacion de modulos para el funcionamiento del IPC</strong
      >, así como el desarrollo del Sistema de Recopilación de Datos.
    </p>

    <p>
      Tambien le estoy dedicando tiempo a <strong
        >impartir clases de <em class="italic">programación básica</em>
        para los que quieren iniciar en el mundo IT</strong
      >. Mi objetivo es ayudar a las personas compartiendo mi experiencia creando
      contenido en <strong><a href="https://www.youtube.com/@SoyElieGonzalez">YouTube</a> 
      y <a href="https://www.twitch.tv/gonelii">Twitch.</a></strong> 
    </p>
  </div>

  <img width="200" height="200" src="/E.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
